/* Styling for the box element */
.box {
  /* Box dimensions and appearance */
  width: 4rem;
  height: 4rem;

  border-radius: 50%;

  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Styling for paragraph elements inside the box */
  p {
    text-align: center;
    font-size:inherit;
  }
}
