@import "/src/sass/abstracts/variable";
// * {
//   box-sizing: border-box;
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   user-select: none;
// }

// html,
// body {
//   margin: 0;
//   background: #fdfdfd;
//   font-family: "Open Sans", sans-serif;
// }

.center_radius {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.thermostat {
  position: absolute;
  // @extend .center_radius;
  // width: 400px;
  width: 25rem;
  width: 35rem;
  width: 32rem;
  // width: $hvac-width;

  // height: 400px;
  height: 25rem;
  height: 35rem;
  height: 32rem;
  // height: $hvac-height;

  border-radius: 50%;
  background: #6d697f;
  background-color: black;
  // box-shadow: inset 0px -6px 1px 2px rgba(0, 0, 0, 0.35),
  //   0px 7px 40px 11px rgba(84, 81, 97, 0.4);
  &:hover {
    .number {
      opacity: 1;
    }
  }
  .shadow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateZ(10deg);
    width: 25px;
    width: 1.5rem;
    height: 86%;
    text-align: center;
    transition: 0.7s ease;
    animation: shadow 1.4s ease-out both;
    .shadow-cube {
      position: absolute;
      top: 0;
      width: 25px;
      width: 1.5rem;
      height: 0px;
      box-shadow: 0 0 45px 13px rgba(255, 158, 35, 0.5);
    }
  }
  .number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateZ(10deg);
    // width: 40px;
    width: 2.5rem;
    // width: $number-width;
    height: 82%;
    text-align: center;
    transition: 0.7s ease;
    opacity: 0;

    .ext {
      // font-size: 16px;
      // font-size: 1rem;
      font-size: $ext-font-size;
      color: white;
      font-weight: 1000;
      text-shadow: 1px 3px 3px #302e38;
    }
  }
  .bar {
    position: absolute;
    @extend .center_radius;
    // width: 356px;
    width: 22.25rem;
    width: 32.25rem;
    width: 30rem;

    // width: $bar-width;

    // height: 356px;
    height: 22.25rem;
    height: 32.25rem;
    height: 30rem;

    // height: $bar-height;

    .inner_bar {
      position: absolute;
      top: 50%;
      left: 50%;
      // width: 344px;
      width: 21.5rem;
      width: 31.5rem;
      width: 28rem;
      // width: $inner-bar-width;
      // height: 344px;
      height: 21.5rem;
      height: 31.5rem;
      height: 28rem;

      // height: $inner-bar-height;

      // margin-left: -172px;
      margin-left: -10.75rem;
      margin-left: -15.75rem;
      margin-left: -14rem;

      // margin-left:$inner-bar-margin-left;
      // margin-top: -172px;
      // margin-top: -10.75rem;
      margin-top: -10.75rem;
      margin-top: -14rem;

      // margin-top: $inner-bar-margin-top;

      border-radius: 100%;
      background-color: #6d697f;
      background-color: black;

      z-index: 4;
      &:after {
        content: "";
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border-top: 70px solid transparent;
        border-top: 4.37rem solid transparent;
        // border-top: $inner-bar-after-border-top;
        border-left: 70px solid transparent;
        border-left: 4.37rem solid transparent;
        // border-left: $inner-bar-after-border-left;
        border-right: 70px solid transparent;
        border-right: 4.37rem solid transparent;
        // border-right: $inner-bar-after-border-right;
        border-bottom: 150px solid #6d697f;
        border-bottom: 9.37rem solid #6d697f;
        border-bottom: 150px solid black;
        border-bottom: 9.37rem solid black;
        // border-bottom: $inner-bar-after-border-bottom;
        // bottom: -7px;
        bottom: -0.33rem;
        bottom: -1.33rem;
        // bottom: $inner-bar-bottom;
        left: 50%;
        transform: translatex(-50%);
      }
    }
    .hold {
      position: absolute;
      width: 100%;
      height: 100%;
      clip: rect(0px, 356px, 356px, 178px);
      clip: rect(0px, 32.25rem, 32.25rem, 11.18rem);
      // clip: $hold-clip;
      border-radius: 100%;
      background-color: #3a3749;
    }

    .fill {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 100%;
      clip: rect(0px, 178px, 356px, 0px);
      clip: rect(0px, 17.12rem, 32.25rem, 0px);

      // clip: $fill-clip;
    }

    .fill1 {
      background: -webkit-linear-gradient(top, green 20%, green 100%);
    }

    .fill2 {
      background: -webkit-linear-gradient(
        top,
        green 40%,
        rgb(204, 228, 204) 100%
      );
    }

    .right {
      z-index: 3;
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      transform: rotate(190deg);
    }

    .right .fill {
      z-index: 3;
      transform: rotate(190deg);

      animation: right 1s linear both;
      transition: transform 0.6s;
    }

    .left .fill {
      z-index: 1;
      animation: left 0.3s linear both;
      animation-delay: 1s;
      transform: rotate(20deg);

      transition: transform 0.6s;
      //transition-delay: 1s;
    }

    span {
      // width: 356px;
      width: 22.25rem;
      width: 32.25rem;
      width: 30rem;
      // width: $span-width;
      font-weight: 800;
      position: absolute;
      bottom: 0px;

      text-align: center;
      text-transform: uppercase;
      // font-size: 15px;
      // font-size: .93rem;
      font-size: $span-font-size;

      color: #2e2c3a;
      color: rgba(255, 255, 255, 0.521);
      z-index: 10;
    }
  }
  .center {
    position: absolute;
    // width: 260px;
    width: 20.25rem;

    // width: $center-width;
    // height: 260px;
    height: 20.25rem;

    // height: $center-height;
    @extend .center_radius;
    background: #e3e4ed;
    background-color: #373738;

    animation: bound-in 0.6s ease forwards;

    .minus {
      // left: 7px;
      left: 1rem;
      // left: $center-minus-left;
      top: 50%;
      transform: translateY(-50%);
      transition: left 0.3s ease-out;
      opacity: 1 !important;
      img {
        width: 15%;

        display: block;
        object-fit: cover;
        z-index: 33333333333;
      }
    }

    .plus {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      // right: 7px;
      right: 1.2rem;
      // right: $center-plus-right;
      transition: right 0.3s ease-out;
      opacity: 1 !important;
      z-index: 33333333333;
      img {
        width: 2.3rem;

        display: block;
        object-fit: cover;
        z-index: 33333333333;
      }
    }

    span i {
      // position: absolute;
      // color: #b9b6c8;
      // font-size: 40px;
      // font-size: 2.5rem;
      // font-weight: 500;
      // line-height: 260px;
      // line-height: 16.25rem;
    }
    .arrow {
      opacity: 0;
      transition: opacity 0.3s;
      cursor: pointer;
    }
    .minus {
      position: absolute;

      // animation: arrow-left 1s forwards;
    }
    .plus {
      position: absolute;
      // transform: rotate(180deg) translateY(50%);
      // animation: arrow-right 1s forwards;
    }
    .small {
      position: absolute;
      // width: 150px;
      width: 9.37rem;
      // width: $small-width;
      // height: 150px;
      height: 9.37rem;
      // height: $small-height;
      background: #f8f9fa;
      background-color: rgb(95, 189, 95);
      background-color: #38bc7d;
      @extend .center_radius;
      text-align: center;
      animation: bound-in-small 0.6s ease forwards;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding: 1rem;
      padding: $small-padding;

      span {
        // font-size: 59px;
        // font-size: 2rem;
        font-size: $small-span-font-size;
        color: white;
      }
      .heat {
        // line-height: 150px;
        line-height: 9.37rem;
        // line-height: $small-heat-line-height;
        // font-size: 59px;
        // font-size: 2rem;
        font-size: $small-heat-font-size;
        color: #57545f;
        color: white;
        font-weight: 300;
        font-weight: bolder;
      }
    }
  }
}

.slider {
  // width: 100px;
  // width: 6.25rem;
  width: $slider-width;
  // height: 50px;
  // height: 3rem;
  height: $slider-height;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  // bottom: 5px;
  // bottom: .31rem;
  bottom: $slider-bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}
@-webkit-keyframes shadow {
  0% {
    transform: translate(-50%, -50%) rotate(-190deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(10deg);
  }
}

@-webkit-keyframes right {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@-webkit-keyframes left {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(10deg);
  }
}

@-webkit-keyframes bound-in {
  10% {
    box-shadow: 0px 7px 30px 5px rgba(96, 93, 111, 0.25);
    transform: translate(-50%, -50%) scale(0.8);
  }
  80% {
    transform: translate(-50%, -50%) scale(1.03);
  }
  100% {
    box-shadow: 0px 15px 35px 11px rgba(46, 44, 58, 0.6);
    transform: translate(-50%, -50%) scale(1);
  }
}

@-webkit-keyframes bound-in-small {
  0% {
    box-shadow: 0px 5px 10px 5px rgba(96, 93, 111, 0.19);
    transform: translate(-50%, -50%) scale(0.8);
  }
  80% {
    transform: translate(-50%, -50%) scale(1.03);
  }
  100% {
    box-shadow: 0px 15px 35px 5px rgba(96, 93, 111, 0.3);
    transform: translate(-50%, -50%) scale(1);
  }
}

@-webkit-keyframes arrow-left {
  0% {
    left: 45px;
    opacity: 0;
  }
  100% {
    left: 10px;
    opacity: 1;
  }
}

@-webkit-keyframes arrow-right {
  0% {
    right: 75px;
    opacity: 0;
  }
  100% {
    right: 45px;
    opacity: 1;
  }
}
