

<div class="phone">
  <div class="display"></div>
  <div class="wrapper">
      <div class="key" rel="1"><span class="num">1</span> <span class="let clear">abc</span> </div>
      <div class="key" rel="2"> <span class="num">2</span><span class="let">abc</span></div>
      <div class="key" rel="3"><span class="num">3</span><span class="let">def</span></div>

      <div class="key" rel="4"><span class="num">4</span><span class="let">ghi</span></div>
      <div class="key" rel="5"><span class="num">5</span><span class="let">jkl</span></div>
      <div class="key" rel="6"><span class="num">6</span><span class="let">mno</span></div>

      <div class="key" rel="7"><span class="num">7</span><span class="let">pqrs</span></div>
      <div class="key" rel="8"><span class="num">8</span><span class="let">tuv</span></div>
      <div class="key" rel="9"> <span class="num">9</span><span class="let">wxyz</span></div>

      <div class="key special" ><i class="fa-solid fa-star-of-life"></i></div>
      <div class="key"><span class="num">0</span><span class="let">oper</span></div>
      <div class="key special"><i class="fa-solid fa-hashtag"></i> </div>
<!--
      <div class="key nb"></div>
      <div class="key phone"><i class="fa fa-phone"></i></div>
      <div class="key nb"></div> -->

  </div>
</div>
