<div

  [ngStyle]="{
    '--width': badgeWidth + 'rem',
    '--size': size + 'rem',
    '--padding': isCircle ? '' : '0px 10px',
    '--border-radius': isCircle ? '50%' : '50vh',
    '--boxShadow': boxShadow + 'rem',
    '--widthSmole': widthVariable + 'rem',
    '--fontSize':fontSize + 'rem'
  }"
  [attr.data-content]="content"
  class="main"
></div>
<!-- <div class="badge"
[ngStyle]="{ 'border-radius': isCircle ? '50%' : '50vh' , 'padding': isCircle ? '' : '5px 10px'  }"     >{{ content }}</div> -->
<!-- '--border-radius': isCircle ?'50vh':'50%' , -->
<!--  , -->
