<div
  [style.width.rem]="size"
  [style.height.rem]="size"
  [style.background]="background"
  [style.font-size.rem]="fontSize"
  [ngStyle]="{
    '--width': widthVariable + 'rem',
    '--boxShadow': boxShadow + 'rem',
    '--backgroundActive': validateNumber() == 0 ? 'red' : 'green',
    '--color': color
  }"
  [attr.data-content]="validateNumber()"
  class="badge"
>
  <!-- Conditionally apply 'active' class based on 'validateNumber()' result -->
  <span
    [classList]="validateNumber() == 0 ? 'active info ' : 'info'"
    class="info"
    >0 - 99</span
  >
</div>



<div class="infoCircle"   [ngStyle]="{ 'border-radius': isCircle ? '50%' : '50vh', 'padding': isCircle ? '' : '5px 10px' }"     >{{ content }}</div>
