.section {
  text-align: center;
  width: 30rem;
  height: 70px;
  display: flex;
  flex-direction: column;


}
.box{
  width: 100%;


  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 1rem;

}
p{
  font-size: 1.3rem;
  text-transform: capitalize;
}


a {
  position: relative;
  display: inline-block;
  transition: all .4s linear;
  padding: 0.3rem 3rem;

  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;

  background: #adacb3;
  overflow: hidden;
  cursor: pointer;
}

.isSelected {
  background-color: rgb(111, 113, 109) !important;
  color: white;
}

span {
  position: absolute;
  background: #fff;
  transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 50%;
  animation: zee 1s linear infinite;
}

@keyframes zee {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0.5;
  }

  100% {
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}
