.accordion {
  width: 40rem; /* Set your desired width */
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 1.3rem;
  padding: 1rem 0;
}

.body {
  width: 95%;
  height: 80%;
}

.accordion-section {
  position: relative;
  background-color: #f1f1f1;

  padding: 1rem;
  font-size: 2rem;
  cursor: pointer;
  z-index: 77777777777777777999999999999999999999999999999999999999999999999 !important;
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid rgba(0, 0, 0, 0.323);
  &.active{
    background-color: rgb(234, 225, 225);
  }
  &:hover{
    background-color: rgb(234, 225, 225);
  }
  p {
    font-size: 1.7rem;
  }
  i {
    color: rgb(106, 101, 101);
    transition: all 0.3s linear;
    font-size: 1.7rem;
    &.active {
      transform: rotate(180deg);
    }
  }
}

.accordion-content {
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: bolder;
  cursor: pointer;
  p {
    font-size: 1.7rem;
  }
}
.custom-class {
  border-top: 1px solid rgba(0, 0, 0, 0.323);
}
