<div               #dialContainer class="dial">
  <button

    [ngStyle]="{ transform: dialActive ? 'rotate(45deg)' : 'none', transition: 'transform 0.3s ease' }"
    (click)="toggleDial($event)"
    class="dial__btn dial__btn--primary"
  >
    <i class="fa fa-solid fa-add" aria-hidden="true"></i>
  </button>

  <div class="dial__options">
    <!-- <button class="dial__btn">
      <i class="fa-regular fa-paper-plane"></i>
    </button>
    <button class="dial__btn">
      <div class="fa-solid fa-camera-retro"></div>
    </button>
    <button class="dial__btn">
      <div class="fa-solid fa-power-off"></div>
    </button> -->
    <ng-container *ngFor="let item of buttons , let i = index">
      <button        [style.animation-delay]="getAnimationDelay(i)"  [attr.data-content]="item.name"  class="dial__btn">
         <div appRipple   >
          <i [class]="item.icon"></i>
         </div>

      </button>
    </ng-container>




  </div>



</div>
