<div class="heading">
  <h1>Aspect Ratio</h1>
</div>
<div class="segmented-control">
  <span #backgroundPill class="selection"></span>

  <div class="option">
    <input  type="radio" name="sample" value="metro" checked />
    <label for="metro"><span>16:9</span></label>
  </div>

  <div class="option">
    <input        type="radio" id="bus" name="sample" value="bus" />
    <label for="bus"><span>4:3</span></label>
  </div>

  <div class="option">
    <input type="radio" id="train" name="sample" value="train" />
    <label for="train"><span>1:1</span></label>
  </div>
</div>
