<nav>
  <ul  class="list">
    <div    #slider    class="slider"><a></a></div>
    <li    (click)="onClick( $event , i)"    *ngFor="let item of  menuItemsWithIcons; let i = index" class="li">
      <div  [class.active]="active == i"    class="info">
        <div class="iconBox">
          <span class="icon">  <i> <i class="{{item.icon}}"></i>    </i>  </span>
        </div>

        <span class="title">{{item.menuItem}}</span>
      </div>


    </li>

  </ul>
</nav>
<!-- [style.transform]="'translateY(' + ofsetTop  +  'px)'"  -->
