<body>
  <div class="body">
    <div class="box">
      <app-button
        [buttonType]="ButtonType.MaterialButton"
        customClass="round-corners"
        label="add more"
      ></app-button>
      <app-animated-button-border label="add more"></app-animated-button-border>
      <app-animated-border label="next"></app-animated-border>
      <app-icon-buttons
        label="settings"
        klasa="fa-solid fa-gear"
      ></app-icon-buttons>
      <app-info label="new message"></app-info>
      <app-ripple-btn></app-ripple-btn>
      <app-animated-control
        title="Aspect ratio"
        [options]="['16:9', '4:3', '1:1']"
      ></app-animated-control>
      <app-loading-btn></app-loading-btn>
      <app-button-toggle-singiel></app-button-toggle-singiel>
      <app-button-toggle-multiple></app-button-toggle-multiple>
      <app-animated-svg-check></app-animated-svg-check>
      <app-animated-slider></app-animated-slider>
      <app-chip text="monday"></app-chip>
      <app-acordion></app-acordion>
      <app-tabs></app-tabs>
      <!--
      <app-thermostat2></app-thermostat2>
      <app-thermo></app-thermo> -->
      <app-steper></app-steper>
      <app-toast></app-toast>
      <div class="test">
        <app-spinner width="60" height="60"></app-spinner>
        <app-spinner2 width="4" height="4"></app-spinner2>
        <app-spinner3 width="4" height="4"></app-spinner3>
      </div>

      <app-side-nav></app-side-nav>

      <button
        class="dark"
        [ngStyle]="{
          'background-color': darkMode ? 'whitesmoke' : 'black',
          color: darkMode ? 'black' : 'white'
        }"
        (click)="toggleTheme()"
      >
        {{ darkMode ? "light mode" : "dark Mode" }}
      </button>

      <app-test></app-test>

      <app-dismissible-chip
        text="zee"
        color="white"
        background="black"
      ></app-dismissible-chip>
      <app-chipwithinput></app-chipwithinput>
      <app-menu></app-menu>
      <app-divider></app-divider>
    <app-notification></app-notification>

    </div>
  </div>
</body>
