@mixin flexbox(
  $display: flex,
  $direction: row,
  $justify: flex-start,
  $align: stretch
) {
  display: $display;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}



h1 {
  text-align: center;
  font-size: 1.3rem;
  text-align: center;
  color: #323232;
}

 .segmented-control {
  --segmentet-control-background:#efeff0;
  --segmented-control-label-color:rgba(0, 0, 0, 0.517);
  background:var(--segmentet-control-background);

  @include flexbox(flex);
  overflow: hidden;
  position: relative;
  border-radius: 0.5rem;
  --width: 12rem;
  height: 4rem;
  font-size: 1.4rem;
  padding: 0.6rem 0;


}

.segmented-control label {
  transition: color 0.7s ease-in-out;
  position: relative;

  @include flexbox(flex, row, center, center);
  cursor: pointer;
  width: var(--width);

  color:var(--segmented-control-label-color);
  z-index: 1;
}

.segmented-control-slide {
  width: var(--width);
  position: absolute;
  left: 0;

  align-self: center;

  height: 95%;

  border-radius: inherit;
  background-color: #ffffff;
  transition: transform 0.4s ease-in-out;
  border: 0.5px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 1px 0 rgba(0, 0, 0, 0.04);
}

.segmented-control label.checked {
  color: black;
  font-weight: bolder;
}
