
// <------------Thermostat------------------------>

$hvac-width: 32rem;
$hvac-height: 32rem;

$number-width: 2.5rem;

$ext-font-size: 1rem;

$bar-width: 22.25rem;
$bar-height: 22.25rem;

$inner-bar-width: 21.5rem;

$inner-bar-height: 21.5rem;
$inner-bar-margin-left: -10.75rem;
$inner-bar-margin-top: -10.75rem;

$inner-bar-after-border-top: 4.37rem solid transparent;
$inner-bar-after-border-left: 4.37rem solid transparent;
$inner-bar-after-border-right: 4.37rem solid transparent;
$inner-bar-after-border-bottom: 9.37rem solid black;
$inner-bar-bottom: -33rem;
$hold-clip: rect(0px, 32.25rem, 32.25rem, 21.18rem);
$fill-clip: rect(0px, 27.25rem, 22.25rem, 0px);
$span-width: 32.25rem;
$span-font-size: 0.93rem;
$center-width: 16.25rem;
$center-height: 16.25rem;
$center-minus-left: 0.43rem;
$center-plus-right: 0.43rem;
$small-width: 9.37rem;
$small-height: 9.37rem;
$small-padding: 1rem;
$small-span-font-size: 2rem;
$small-heat-line-height: 9.37rem;
$small-heat-font-size: 2rem;
$slider-width: 4.25rem;
$slider-height: 1.7rem;
$slider-bottom: 2rem;
