.input {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  cursor: pointer;
}

.checkbox {
  display: inline-block;
  display: flex !important;
  height: 20px;
  width: 20px;
  background: #fff;
  border: 2px #ddd solid;
  cursor: pointer;
  // margin-right: 4px;
}
.checkbox-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.checkbox {
  width: 15px;
  height: 15px;
  border: 2px solid #ddd;
  background-color: #fff;
  transition: background-color 0.3s, border-color 0.3s;
}

.checkbox--active {
  background-color: #2d6a4f;
  border-color: #2d6a4f;
}

.checkmark {
  position: absolute;
  width: 15px;
  height: 11px;
  border: 2px solid #fff;
  stroke-dasharray: 20;
  stroke-dashoffset: 20;
  transition: stroke-dashoffset 0.3s;
}
