<div class="box">
  <!-- Container for the progress meter -->
  <div class="d-flex flex-column text-center">
    <!-- SVG element for drawing the progress meter -->
    <svg
      #svgElement
      viewBox="0 0 100 100"
      xmlns="http://www.w3.org/2000/svg"
      preserveAspectRatio="none"
    >
      <!-- Circle representing the background of the progress meter -->

      <circle r="45" cx="50" cy="50"></circle>
      <path
        [attr.class]="'meter'"
        [attr.d]="pathString"
        [style.strokeDashoffset]="strokeDashoffset"
        [style.strokeDasharray]="strokeDasharray"
      ></path>

      <!-- Text showing the progress percentage -->

      <text
        x="50"
        y="50"
        text-anchor="middle"
        dominant-baseline="central"
        class="progress-text"
      >
        {{ value + "%" }}
      </text>
    </svg>
  </div>
</div>
